@import "tailwindcss";

body {
    overflow: overlay;
}


.josefin{
    font-family: "Josefin Slab", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

#navLi li{
    padding: 0 5px;
    color: black;
    transition: all 0.2s ease-in-out;
}

#navLi li:hover{
    color: rgb(83, 83, 83);
    cursor: pointer;
}

.swiper-button-next {
    --swiper-theme-color: #f1f1f18e;
}

.swiper-button-prev {
    --swiper-theme-color: #f1f1f18e;
}

.swiper-pagination-bullet-active {
    --swiper-theme-color: #f1f1f18e;
}

::-webkit-scrollbar {
    display: none;
}

.transition {
    transition: all 0.2s ease-in-out;
}

.bold {
    font-family: "Boldonse", system-ui;
    font-weight: 400;
    font-style: normal;
}

.poppins-thin {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
}

.poppins-extralight {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
}

.poppins-light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.poppins-extrabold {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
}

.poppins-black {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
}

.poppins-thin-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: italic;
}

.poppins-extralight-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: italic;
}

.poppins-light-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: italic;
}

.poppins-regular-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.poppins-medium-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: italic;
}

.poppins-semibold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: italic;
}

.poppins-bold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: italic;
}

.poppins-extrabold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: italic;
}

.poppins-black-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: italic;
}

.imgWeb{
    height: 400px;
    width: 1000px;
}

.backDropMenu{
    width: 100%;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    cursor: pointer;
    color: #292929;
    transition: all .2s ease;
    font-weight: bold;
}

.backDropMenu:not(:last-child){
    border-right: 1px solid rgba(124, 124, 124, 0.727);
}

.backDropMenu:hover{
    background: #d8d8d8;
    color: rgb(199, 116, 13);
}

.shadow{
    transform-origin: center center;
    box-shadow: 0 3px 0 rgba(0, 0, 0, 0.5);
}

.form{
    padding: 10px 2px;
    border: 1px solid #a3a3a3;
    border-radius: 5px;
}

.transparent{
    background: transparent;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.60), white,rgba(255, 255, 255, 0.60));
}